.cart-item {
    border-bottom: 1px solid $light-grey;
    display: flex;
    position: relative;
    padding: 20px 0;
    align-items: flex-start;
    &__image {
        height: 120px;
        width: 100px;
        margin-right: 10px;
    }
    &__image-and-name {
        width: 55%;
        display: flex;
        align-items: flex-start;
    }
    &__name {
        width: 180px;
        margin-right: 62px;
        &:hover {
            cursor: pointer;
        }
    }
    &__price {
        margin-left: auto;
        font-weight: 600;
        font-size: 16px;
    }
    &__remove {
        position: absolute;
        bottom: 20px;
        right: 0;
        color: $grey;
        user-select: none;
        border-bottom: 2px dotted rgba(0,0,0,0.3);
        line-height: 1.3;
        svg {
            position: absolute;
            left: -25px;
            top: -3px;
            width: 25px;
            fill: $grey;
        }
        &:hover {
            cursor: pointer;
            border-bottom: 2px dotted transparent;
        }
    }
    &__quantity {
        display: flex;
        align-items: flex-start;
        &-less {
            border: 1px solid $light-grey;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            &:hover {
                cursor: pointer;
                background: #f2f2f2;
            }
        }
        &-count {
            border: 1px solid $light-grey;
            width: 35px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: none;
            border-right: none;
            user-select: none;
            &:hover {
                cursor: pointer;
            }
        }
        &-more {
            border: 1px solid $light-grey;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            &:hover {
                cursor: pointer;
                background: #f2f2f2;
            }
        }
    }
}