.logo { 
    align-items: center;
    color: $black !important;
    font-size: 45px;
    letter-spacing: 0em;
    font-weight: 600;
    // text-transform: uppercase;
    line-height: 0.9;
    padding-bottom: 15px;
}
    