.products {
    &-list {
    display: flex;
    flex-wrap: wrap;
    }
    &-filter {
        &__title {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 15px;
            svg {
                width: 15px;
                fill: $black;
                margin-top: -2px;
                margin-left: 5px;
            }
        }

    }

}
