// .section-page {
//     padding: 40px 0;
// }

.search-page__not-found {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
    color: $grey;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
}