@media screen and (max-width: 1200px) {
    .homepage {
        &__slider {
            &-image {
                height: 400px;
            }
        }
        &__previews {
            &-block {
                height: 370px;
            }
        }
    }
    .catalog-collection__link-image {
        background-size: cover !important;
        background-position: center !important;
    }
}



// IPAD PRO 1024px
   
@media screen and (max-width: 991px) {
    // .container {
    //     width: 750px;
    // }
    .products-filter {
        margin-bottom: 20px;
    }
    .homepage {
        &__slider {
            &-image {
                height: 300px;
            }
        }
        &__previews {
            grid-column-gap: 10px;
            &-block {
                height: 270px;
                background-position: center !important;
            }
        }

    }
    // .header__list {
    //     display: none;
    // }
    .header__links {
        margin-left: auto;
        margin-right: 10px;
        svg {
            width: 30px;
            height: 24px;
            padding: 0;
            
        }
    }
    .header__link {
        padding: 0;
        margin-right: 5px;
        margin-top: -4px;
        span {
            top: -10px !important;
            right: 2px !important;
            left: auto;
        }
    }
    .header__logo {
        font-size: 40px;
    }
    .header__block {
        display: flex;
        align-items: center;
    }
    .additional-space {
        height: 5px;
    }
    .hamburger {
        display: block;
        width: 30px;
        fill: black;
        margin-top: -5px;
        z-index: 101;
        user-select: none;
        &:hover {
            cursor: pointer;
        }
    }
    .header__link-title {
        display: none;
    }
    .header__sections {

        position: fixed;
        background: rgba(256,256,256,0.95);
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    .header__sections_active {
        display: block;
        top: 0;
         
        ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            a {
                font-size: 25px;
                text-transform: uppercase;
                padding-bottom: 30px;
                letter-spacing: 0.1em;
                &:hover {
                    letter-spacing: 0.1em;
                    font-size: 25px;
                }
            }
            li {
                div {
                    display: none;
                }
            }
        }

    }
    .product {
        &__slider {
            width: 100%;
            display: flex;
            // justify-content: flex-start !important;
            // flex-direction: row-reverse;
            margin-bottom: 35px;
        
            &-wrapper {
                margin-left: 10px !important;

                // margin-right: 0 !important;
            }
        }
    }
    .product__slider-thumbs {
        margin: 0 !important;
    }
        
}




// IPAD
@media (max-width: 768px) {
    .section-collection {
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        &__block {
            width: 100%;
            flex-direction: column;
            padding: 40px 0 40px;
            height: 300px;
            // background: white;
        }
    }
    .homepage {
        &__slider {
            &-image {
                height: 230px;
            }
            &-btn { 


                &-next {
                    svg {
                        width: 10px;
                    }
                    width: 40px;
                    height: 40px;


                }
                &-prev {
                    width: 40px;
                    height: 40px;
                    svg {
                        width: 10px;
                    }
                }
    
            }
        }
        &__previews {
            grid-column-gap: 10px;
            &-block {
                height: 205px;
            }
        }


        
    }
    .product-item {
        width: 50%;
    }
    .catalog-collection {
        flex-wrap: wrap;
        &__link {
            min-width: 50%;
            margin-bottom: 20px;
        }
    }
    .header__logo {
        margin-right: 0;
    }


}



@media only screen and (max-width: 575px) {
    .homepage {
        &__slider {
            &-image {
                background-position: center !important;
            }
        }
    }
}

 

// IPHONE_X IPHONE_6/7/8 PLUS  
@media only screen and (max-width: 480px) {
    .header__logo {
        font-size: 30px;
        display: none;
        &_mobile {
            display: block;
            font-size: 40px;
            line-height: 1;
            font-weight: 600;
            margin-top: -8px;
            &:hover {
                font-size: 40px;
                font-weight: 600;
            }
        }
    }
    .header__block {
        margin-bottom: 10px;
    }

    .homepage__previews {
        grid-template-columns: 1fr 1fr;
        &-block {
            margin-bottom: 10px;
            height: 60vw;
        }
    }
    .container {
        width: 95vw;
    }
    

}


        
// IPHONE_5S/SE   GALAXY_S5
// @media only screen and (max-width: 362px) {
//     .homepage__previews {
//         grid-template-columns: 1fr 1fr;
//     }
// }
